In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
new_df = df.drop(columns = ['RowNumber','Surname','CustomerId'])

In [ ]:
gender_df = (pd.get_dummies(df['Gender'])).astype('int')

In [ ]:
new_df = pd.concat([new_df,gender_df],axis= 1)
new_df.drop(columns='Gender',inplace=True)

In [ ]:
geography_df = (pd.get_dummies(df['Geography'])).astype('int')

In [ ]:
new_df = pd.concat([new_df,geography_df],axis= 1)
new_df.drop(columns='Geography',inplace=True)

In [ ]:
X = np.array(new_df.drop(columns='Exited'))
Y = np.array(new_df['Exited'])

In [ ]:
X_scaled = StandardScaler().fit_transform(X)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X_scaled, Y, test_size=0.25)

In [ ]:
np.isnan(x_train).any()

False

In [ ]:
model = LogisticRegression()
model.fit(x_train,y_train)
pred = model.predict(x_test)

In [ ]:
accuracy_score(y_test,pred)

0.8124

In [ ]:
a = np.array([0,1,1,0,0,0,1,0,0,0,1,1,0])
a_scaled = StandardScaler().fit_transform(a.reshape(1, -1))
# Reshape 'a' to a 2D array with one row and 13 columns
print(a_scaled)
a = a.reshape(1, -1)
# Now the model can predict
p = model.predict(a_scaled)
p

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

array([0])